#urlInput {
	margin-bottom: 10px;
}

#spinner {
	position: relative;
	height: 50px;
}

#resultHeader {
	visibility: hidden;
	display: none;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}
