#search input {
	margin-top: 10px;
}

#noLuck {
	display: none;
}

#resultHeader {
	display: none;
	justify-content: space-between;
	align-items: center;
	margin-top: -30px;
	margin-bottom: 10px;
}

footer {
  padding-top: 10px;
  margin-bottom: 20px;
}
